
<ng4-loading-spinner> </ng4-loading-spinner>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="" routerLinkActive="active">MANAGEMENT PANEL</a></li>
                <li><a routerLink="/authors" routerLinkActive="active">AUTHORS</a></li>
                <li><a routerLink="/recipes" routerLinkActive="active">RECIPES</a></li>
                <li><a routerLink="/ingredients" [hidden]="!isOnline()"  routerLinkActive="active">INGREDIENTS</a></li>
                <li><a routerLink="/policy" routerLinkActive="active">PRIVACY POLICY</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-link" [hidden]="!isOnline()" (click)="logout()">Logout</a></li>
                <li><a class="btn btn-link" [hidden]="isOnline()" (click)="login()">Login</a></li>
              </ul>
     </div>
    </div>
</div>
<div class="container body-content">
    <router-outlet></router-outlet>
    <hr />
    
    <footer>
        <p></p>
    </footer>
</div>